/* You can add global styles to this file, and also import other style files */
@import 'react-date-range/dist/styles.css'; // Date range picker css
@import 'react-date-range/dist/theme/default.css'; // theme css file

html,
body {
  font-size: 18px;
  font-family: 'DINWebPro', sans-serif;
  font-weight: 400;
  line-height: 27px;
  margin: 0;
}

@font-face {
  font-family: 'pfdinstencil';
  src: local('pfdinstencil'), url(./assets/fonts/PFDinStencil-Bold.otf) format('opentype');
}
